@import "bootstrap";
@import "base/variables";
@import "base/nav";
@import "base/footer";

@font-face {
  font-family: 'Lane Narrow';
  src: url("../fonts/MYRIADWEBPRO.TTF") format("truetype");
}

body{
  font-family: 'Lane Narrow';
}

.container-carousel {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  width: 100%;
}

.article-img{
  width: 100%;
}

.article-title{
  text-align: center;
  font-weight: bold;
}

.article-galery-title{
  text-align: left;
  font-weight: bold;
}

.section-main{
  padding-top: 15px;
}

.divide{
  background-color: $grey;
  height: 1px;
}
.panel-list{
  margin-bottom: 10px;
}

@media (max-width: $screen-xs-max) {
  .panel-list{
    max-height: 330px;
    img{
      text-align: center;
      width: 100px;
      height: 100px;
    }
    p {
      height: 200px;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .panel-list{
    max-height: 470px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .panel-list{
    max-height: 500px;
    p {
      height: 300px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .panel-list{
    max-height: 510px;
    margin-bottom: 20px;
  }
}
