@import "bootstrap";
@import "base/variables";
@import "base/nav";
@import "base/footer";

@font-face {
  font-family: 'Lane Narrow';
  src: url("../fonts/MYRIADWEBPRO.TTF") format("truetype");
}

body{
  font-family: 'Lane Narrow';
}

.container-carousel {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
  position: relative;
  display: inline-block;
}

.article-img{
  width: 100%;
}

.article-title{
  text-align: center;
  font-weight: bold;
}

.section-main{
  padding-top: 15px;
}

.divide{
  background-color: $grey;
  height: 1px;
}
